.App {
  margin-top: 20px;
  text-align: center;
  background-color:  #3a3637;
  padding-left: 5%;
  border-radius: 25px;
  min-width: 30%;
  max-width: 80em;
  padding: 25px 20px;
  margin: 0 auto;
  color: white;
  

}
.background {
  width: 100%;
  color:black;
  height:100vh;
  background-color: #3a3637;
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.rightr{
  padding-left: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tophead {
  background-color: #992409;
  letter-spacing:0.1em;
	text-align:center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 14pt;
	font-variant: small-caps;
  border-style: dotted;
  border-radius: 25px;
  border-color: #fcb43a;
  vertical-align: top;
    animation: shake 76s infinite linear;
}

.majordiv {
  padding-bottom: 40px;
}
.dashboard{
  background-color: #fcb43a;
  border-radius: 25px;
  width: 100%;
  vertical-align: middle;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
}
.dashboard .square {
  width: 100%;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  vertical-align: top;
  border-radius: 25px;
  background-color: #992409;
  margin-right: 10px;
  animation: shake 50s infinite linear;
}

.square:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 6px 25px -15px rgba(0, 0, 0, 0.55);
  transition: all 0.4s ease 0s;
}

.dashboard tbody tr {
  padding-right: 25px;
  
}

.dashboard .button {
  border-style: dotted dashed solid double;
  border-radius: 5px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #23212c;
  padding: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  animation: shake 50s infinite linear;
}
.lookcoolbut {
    border-style: dotted dashed solid double;
  border-radius: 5px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #99AAB5;
  padding: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  animation: shake 50s infinite linear;
  
}
/*
MORE COMPLEX CSS STYLING
*/
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-0deg);
  }
  20% {
    transform: translate(-2px, 1px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(-1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-0deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(1deg);
  }
}

.scrollboard {
  vertical-align: top;
  animation: shake 85s infinite linear;
  background-color: #992409;
  text-shadow: rgb(100, 50, 90);
  color: white;
  max-height: 19em;
  border-radius: 25px;
  overflow: scroll;
  overflow-x: hidden;
  
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  
  
}
.scrollboard::-webkit-scrollbar {
  width: 1em;
}

.scrollboard::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollboard::-webkit-scrollbar-thumb {
  background-color: #434343;
  outline: 1px solid slategrey;
}

.shake {
  animation: shake 35s infinite linear;
}
.currentm{
  animation: shake 120s infinite linear;
  
}
.currentl{
  animation: shake 40s infinite linear;
  
}
.buttonstyle {
  border-style: dotted dashed solid double;
  border-radius: 15px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #3a3637;
  padding: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  animation: shake 50s infinite linear;
}

.buttonstyle:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 6px 25px -15px rgba(0, 0, 0, 0.55);
  transition: all 0.4s ease 0s;
}
/* a color shifter for small css looks */
@keyframes colorbeat {
  0% {
    background: #7289da;
  }
  25% {
    background: #424549;
  }
  50% {
    background: #36393e;
  }
  75% {
    background: #282b30;
  }
  90% {
    background: #1e2124;
  }
  100% {
    background: #7289da;
  }
}
.discord {
  
  
  
}

.leadername {
  color: #434343;
  text-align: center;
  width: 10em;
  font-size: 40px;
}
.leadername:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 6px 25px -15px rgba(0, 0, 0, 0.55);
  transition: all 0.4s ease 0s;
  animation: shake 0.6s infinite;
}
.logOutButton {
  border-style: dotted dashed solid double;
  border-radius: 15px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #3a3637;
  padding: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  animation: shake 50s infinite linear;
  
}

.logmain {
  margin: 0 auto;
  padding-bottom: 15px;
  background-color: #fcb43a;
  border-radius: 20px;
  width: 500px;
  
}
.but{
  border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;	   
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;	
    padding: 9px 25px 9px;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 500px;
	
  
  
}
.but:hover {
    background: none repeat scroll 0 0 #EB4848 !important;
    border-color: #E83131 !important;    
}
.txtbox{
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}