.background {
  width: 100%;
  color: black;
  height:100vh;
  background-color: #3a3637;
  
  
}

.tophead {
    color: white;
  background-color: #992409;
  letter-spacing:0.1em;
	text-align:center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 14pt;
	font-variant: small-caps;
  border-style: dotted;
  border-radius: 25px;
  border-color: #fcb43a;
  vertical-align: top;
    animation: shake .01s infinite linear;
}